<h1>Daniela Claudino</h1>
<h3>Estagiária do Suporte de Produto e Engenharia - Resultados Digitais - Vikings & Koala</h3>
<p>Contato:</p>
<ul>
  <li>Celular: (47) 9 9707 0678</li>
  <li>E-mail: daniela.claudino@resultadosdigitais.com.br</li>
</ul>